body {
  background: #e9ebee;
}

/*    nav top    */
.navebar {
  width: 80%;
  margin: auto;
  margin-top: 5px;
}

.nave button {
  font-size: 15px;
  padding: 0px 10px 0px 10px;
  margin-left: -40px;
  border: none;
}

.search {
  width: 40%;
  border-radius: 5px;
  height: 27px;
}

.imgpro {
  width: 25px;
  height: 25px;
  margin-right: 3px;
  border-radius: 50%;
  margin-bottom: 2px;
}

.navebar a {
  color: #fff;
  padding: 7px;
}

.navebar a:hover {
  color: #fff;
  text-decoration: none;
  background: #2e6acc;
  border-radius: 5px;
}

.bob {
  margin-top: 50px;
}

.nave {
  background: #4267b2;
  height: 40px;
}

.imgfacebook {
  height: 26px;
  margin-right: 3px;
  border-radius: 2px;
  margin-bottom: 4px;
  width: 25px;
}

/*     nav left    */
.left {
  width: 15%;
  margin: 60px auto 0px 140px;
}

.left p:hover {
  background: #f5f6f7;
  border-radius: 5px;
}

.left .poro {
  margin-bottom: 10px;
}

.left p {
  margin: 1px;
  font-size: 15px;
  padding: 3px;
}

.left i {
  font-size: 15px;
  margin-right: 5px;
  color: #3578E5;
}

h6 .edit {
  float: right;
  display: none;
}

h6:hover .edit {
  display: block;
}

#myDIV {
  display: none;
}

.seemore {
  color: blue;
  font-size: 12px;
  padding: 0px;
}

.seemore i {
  color: black;
  font-size: 10px;
}

/*     post      */
.center {
  width: 45%;
  margin: auto;
  margin-top: 60px;
}

.Postone {
  padding-bottom: 30px;
  background: #fff;
}

.center h6 {
  padding: 10px;
  background: #f5f6f7;
}

.center .onehr {
  margin-top: -8px;
}

.center img {
  margin: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.center .link {
  margin-top: 20px;
}

.center .link a {
  color: black;
  padding: 10px;
  margin: 10px;
  background: #f5f6f7;
  border-radius: 50px;
  text-decoration: none;
}

.posttow {
  padding: 20px;
  background: #fff;
  margin-top: 10px;
}

.posttow .fa-plus-square {
  font-size: 50px;
  margin-top: 5px;
}

.postthree {
  margin-top: 10px;
  background: #fff;
}

.postthree .imgpost {
  width: 97%;
  height: 300px;
  border-radius: 0%;
}

.comment {
  float: right;
  margin-right: 15px;
}

.postthree .staricon {
  font-size: 20px;
  margin-left: 10px;
}

.tabliek {
  text-align: center;
  margin-top: 20px;
}

.tabliek {
  font-size: 20px;
  background: #f5f6f7;
  padding: 10px 0px 10px 0px;
}

.tabliek a {
  color: black;
  text-decoration: none;
}

/*      languech right     */
.right {
  width: 20%;
  margin: 60px 80px 0px auto;
  padding: 5px;
  border-radius: 5px;
}

.right .toplink {
  font-size: 14px;
  padding: 10px;
}

.right .row {
  background: #fff;
  border-radius: 5px;
}

.right .bottomlinck a {
  color: gray;
  font-size: 12px;
}

.right .bottomlinck p {
  font-size: 13px;
}

.fa-pluss {
  color: black;
  border: 0.5px solid black;
  border-radius: 3px;
  padding: 4px 8px 4px 8px;
  background: #e9ebee;
  position: absolute;
  top: 20px;
  right: 10px;
}

/*    chat   */
.chat {
  width: 15%;
  margin: auto 50px 0px auto;
  height: 350px;
  background: #fff;
  box-shadow: 0px 0px 10px gray;
}

.chat hr {
  background: gray;
}

.chat .header {
  padding: 10px;
}

.chat h6 {
  margin-left: 5px;
}

.chat a {
  color: black;
  text-decoration: none;
}

.chat p {
  padding: 2px 0px 2px 5px;
  margin-bottom: 1px;
  font-size: 15px;
}

.chat p:hover {
  background: #e9ebee;
}

.chat .clock {
  float: right;
  margin-right: 5px;
}

.fa-user {
  font-size: 20px;
  padding: 5px;
  background: #e9ebee;
  border-radius: 50%;
}

.chat .header i {
  font-size: 15px;
  margin: auto 3px auto 3px;
  color: gray;
}

hr {
  margin: 0px;
}

.iconheader {
  float: right;
}

.groupheader {
  font-size: 12px;
  margin-left: 10px;
}

.chat .inputsearch {
  margin-top: 120px;
  border: none;
}

.chat .fa-search {
  margin-left: 5px;
}

.chat .titlechatgroup {
  font-size: 12px;
}

/*    more languech    */
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #2e6acc;
}

.show {
  display: block;
}

/*# sourceMappingURL=css.css.map */
